* {
  box-sizing: border-box;
  font-family: "Monaco", sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to left, #d0f4de, #e4c1f9);
}

.calc {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calc :first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.calc :nth-child(17) {
  border-bottom-left-radius: 12px;
}

.calc :nth-child(19) {
  border-bottom-right-radius: 12px;
}

.calc > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid #000;
  outline: none;
  background-color: #ffffff80;
}

.calc > button:hover {
  background-color: #00000005;
}

.span-two {
  grid-column: span 2;
}

.screen {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  grid-column: 1 / -1;
  background-color: #00000075;
  color: #ffffff;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.screen #display-upper {
  color: #ffffff;
  font-size: 2rem;
}
